.root {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	align-items: center;
	padding: 0 10vw;
	margin-top: 1rem;
}

.container {
	padding-top: 2rem;
	display: flex;
	justify-self: center;
	align-items: center;
	justify-content: center;
}

.cover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image__block {
	width: 22rem;
	height: 27.5rem;
	cursor:pointer;
}

.image {
	width: 100%;
	height: 100%;
}

.name {
	font-size: 1.5rem;
	margin-top: 1rem;
}

@media screen and (max-width: 900px) {
	.image__block {
		width: 14rem;
		height: 17.5rem;
	}

	.container {
		padding-top: 2vh;
	}
}